@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Lato, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol {
  list-style: decimal-leading-zero;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Wizard styling */

.wizard-layout {
  margin: 5px auto;
  padding: 30px 50px;
}

.wizard-layout__navbar {
  height: 40px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 9px;
  z-index: 100;
  gap: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.wizard-layout-button {
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
  z-index: 1;
  background-color: rgba(196, 196, 196, 0.22);
  font-size: 1rem;
  height: 100%;
  width: 40px;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
}

.wizard-layout-button-selected {
  min-width: 150px;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  font-size: 1rem;
  height: 100%;
  background: #181b64;
  color: white;
  padding: 0.4rem 3rem;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
}

@media screen and (min-width: 769px) {
  .wizard-layout__navbar {
    background-color: rgba(196, 196, 196, 0.22);
    justify-content: space-around;
    max-width: 1140px;
    width: 95%;
  }
  .wizard-layout-button {
    padding: 0.5rem 3rem;
    flex: 1;
  }

  .wizard-layout-button-selected {
    flex: 1;
  }
}

.wizard-layout__navbar__button:active {
  outline: none;
}
.wizard-layout__navbar__button:focus {
  outline: none;
}

/* PROGRESS BAR */
/* .progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
} */

/* Wizard styling */

@layer components {
  /* components */
  .btnPrimary {
    @apply bg-gradient-to-r from-royal-blue to-loyal-blue hover:from-loyal-blue hover:to-royal-blue active:scale-95 active:shadow-md rounded-xl py-5 px-16 md:px-20 uppercase text-sm font-normal shadow-btnPrimary cursor-pointer tracking-wider mt-4;
  }

  .btnSecondary {
    @apply bg-gradient-to-r from-royal-yellow to-loyal-yellow hover:from-loyal-yellow hover:to-royal-yellow active:scale-95 active:shadow-md rounded-xl py-5 px-16 md:px-20 uppercase text-sm font-normal shadow-btnPrimary cursor-pointer tracking-wider mt-4;
  }

  .btnOutlined {
    @apply border-solid hover:text-white border-2 border-section-blue hover:border-white  hover:bg-gradient-to-r from-royal-blue to-loyal-blue active:scale-95 active:shadow-md rounded-xl py-5 px-16 md:px-20  uppercase text-sm font-normal shadow-btnPrimary cursor-pointer  tracking-wider mt-4;
  }

  .btnTertiary {
    @apply bg-gradient-to-r from-royal-yellow to-loyal-yellow hover:from-loyal-yellow hover:to-royal-yellow rounded-xl active:scale-95 active:shadow-md  uppercase text-sm font-bold shadow-btnPrimary cursor-pointer tracking-wider mt-4
    flex justify-between py-5 px-10 max-w-266 w-5/6;
  }

  .btnFourthiary {
    @apply bg-gradient-to-r from-royal-blue to-loyal-blue hover:from-loyal-blue hover:to-royal-blue active:scale-95 active:shadow-md  rounded-xl  uppercase text-sm font-bold shadow-btnPrimary cursor-pointer tracking-wider mt-4
    flex justify-between py-5 px-10 max-w-266 w-5/6;
  }

  .loginBtn {
    @apply bg-gradient-to-r from-royal-yellow to-loyal-yellow active:scale-95 active:shadow-md uppercase text-xs font-bold cursor-pointer tracking-wider rounded-xl py-2 px-7 hover:text-white  focus:ring-white;
  }

  .formBtn {
    @apply bg-gradient-to-r from-royal-blue to-loyal-blue hover:from-loyal-blue hover:to-royal-blue active:scale-95 active:shadow-md rounded-lg py-4  uppercase text-sm font-normal shadow-btnPrimary cursor-pointer tracking-wider mt-4 max-w-xs md:max-w-546 w-full text-center;
  }

  .getStartedBtn {
    @apply bg-gradient-to-r from-royal-blue to-loyal-blue hover:from-loyal-blue hover:to-royal-blue active:scale-95 active:shadow-md rounded-lg py-4  uppercase text-sm font-normal shadow-btnPrimary cursor-pointer tracking-wider mt-4 w-full text-center;
  }


  .signInBtn {
    @apply bg-sign-in-btn hover:bg-yellow-400 active:scale-95 active:shadow-md rounded-xl py-5 px-16 md:px-20 capitalize text-sm md:text-lg font-bold shadow-btnPrimary cursor-pointer tracking-wider mt-4 text-center;
  }

  .pagesBtn {
    @apply bg-gradient-to-r from-royal-yellow to-loyal-yellow hover:from-loyal-yellow hover:to-royal-yellow active:scale-95 active:shadow-md rounded-xl py-5 px-16 md:px-20 uppercase text-sm md:text-lg font-bold shadow-btnPrimary cursor-pointer tracking-wider mt-4 text-center;
  }

  .error {
    @apply text-red-600 p-4 w-full  rounded-lg;
  }

  /* html tags */
  .section-title {
    @apply font-bold text-3xl md:text-5xl uppercase;
  }

  .section-title2 {
    @apply font-bold text-2xl md:text-3xl uppercase;
  }

  .section-sub-title {
    @apply font-bold text-xl md:text-2xl  uppercase;
  }

  .section-sub-title2 {
    @apply font-bold text-sm uppercase;
  }

  .BSFsection-sub-title {
    @apply font-bold text-2xl capitalize;
  }

  .section-paragraph-normal {
    @apply font-normal text-sm md:text-xl;
  }

  .section-paragraph {
    @apply font-thin text-sm md:text-xl;
  }

  .section-paragraph-italic {
    @apply font-normal italic text-sm md:text-xl;
  }

  .section-paragraphBold {
    @apply font-bold text-xl;
  }

  .section-sub-paragraph {
    @apply font-normal text-sm;
  }

  .section-sub-paragraph-italic {
    @apply font-normal text-sm italic;
  }

  .section-sub-paragraphMediumBold {
    @apply font-medium text-sm;
  }

  .li-title {
    @apply font-bold text-base md:text-2xl leading-7 md:leading-9;
  }

  .li-paragraph {
    @apply font-bold text-sm md:text-xl leading-7 md:leading-9 uppercase;
  }
  .li-paragraph2 {
    @apply font-normal text-sm md:text-lg leading-7 md:leading-9 capitalize;
  }

  /* utilities */
  .customContainer {
    @apply max-w-[1140px] w-full mx-auto;
  }

  .flex-start {
    @apply flex flex-col justify-center items-start h-screen w-full gap-3;
  }

  .flex-start-top {
    @apply flex flex-col justify-start items-start h-screen w-full gap-3;
  }

  .flex-start-top-noHeight {
    @apply flex flex-col justify-start items-start  w-full gap-3;
  }

  .flex-center {
    @apply flex flex-col justify-center items-center h-screen w-full gap-3;
  }

  .flex-center-top {
    @apply flex flex-col items-center h-screen w-full gap-3;
  }

  .flex-center-top-noHeight {
    @apply flex flex-col items-center  w-full gap-3;
  }

  .flex-horiz {
    @apply flex flex-row justify-center items-center h-screen my-auto gap-3;
  }

  .grid-col1 {
    @apply grid grid-cols-1;
  }

  .grid-col2 {
    @apply grid grid-cols-2;
  }

  .grid-col3 {
    @apply grid grid-cols-3;
  }
}

/* focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 */
